*{
    font-size: bolder;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
.text{
    color: #F94C30;
  
  }
  .whatsapp{
    position: fixed;
    bottom: 40px;
    right: 40px;
    /* left: 0px; */
    border-radius: 50%;
    z-index: 3;
  }
  .bt{
  
     height: 50px; 
     width: 130px;
     border-radius: 30px; 
     background-color:#F94C30;
     color: black;
  }
  .bt:hover{
   
    background-color: black;
    color: #F94C30;
    border: 3px solid #F94C30;
    height: 50px; 
    width: 130px;
    border-radius: 30px; 
    transition-duration: 1s;
  }
    .ho{
        color: white;
      }
      .ho:hover{
        color: #FD5D14;
      }
      .hi{
        font-size: bolder;
        color: black;
        transition-property: background-color;
        transition-duration: 0.5s;
      }
      .hi:hover{
        background-color: #FD5D14;
        border-radius: 30px;
      }
  
  
.footer{
  margin-top: 50px;
    background-image:url(images/footer-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
  }
   .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:#e6e6e6;
    margin: 0 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #747DA1;
    transition: all .5s ease;
    }
    .social-link a:hover{
      color: #ffffff;
      background-color: #F94C30;
      transition: all 1s ease;
    }
    .o{
        padding-top: 10px;
        text-decoration:2px solid #F94C30  underline;
       color: #fff;
       font-weight: bolder;
    }
    .l{
        color: #F94C30;
        text-decoration: none;
        transition-duration: 1s;
    }
    .l:hover{
        color: #ffffff;
        text-decoration: 2px solid #F94C30 underline ;
    }